.page-title-font {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;
}

.page-subtitle-font {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}
